spring:
  application:
    name: EmptyBot
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
  jooq:
    sql-dialect: POSTGRES
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
  main:
    web-application-type: none


  flyway:
    enabled: true
    locations: classpath:db/migration
    clean-disabled: true

telegrambot:
  name: ${botname}
  token: ${bottoken}